<!DOCTYPE html>
<html>
<head>
  <title>Rorqa</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<ul class="nav nav-tabs">
  <li role="questions" class="<%= controller_name == "questions" ? "active" : "inactive" %>"><%= link_to "Questions", questions_path %></li>
  <li role="subjects" class="<%= controller_name == "subjects" ? "active" : "inactive" %>"><%= link_to "Subjects", subjects_path %></li>
  <li role="answers" class="<%= controller_name == "answers" ? "active" : "inactive-answer" %>" ><a href="#">Answers</a></li>
</ul>
<%= yield %>
</body>
</html>
